{% load widget_tweaks %}

{% for field in form %}
    <div class="mb-3">
        {{ field.label_tag }}
        {% if field.field.widget.input_type == "checkbox" %}
            <br>{{ field }}
        {% else %}
            {% if form.is_bound %}
                {% if field.errors %}
                    {% render_field field class="form-control is-invalid" %}
                {% else %}
                    {% render_field field class="form-control is-valid" %}
                {% endif %}
            {% else %}
                {% render_field field class="form-control" %}
            {% endif %}
        {% endif %}

        <div class="valid-feedback">
            Valid Information
        </div>
        <div class="invalid-feedback">
            {{ field.errors }}
        </div>
    </div>
{% endfor %}
