<div class="row">
  <div class="col-12">
    <div>
        <form action="{% url 'display_tasks' redirect_name=redirect_name %}" method="post">
        {% csrf_token %}
        <div class="text-center">
        </div>
      </form>
    </div>
    <br>
    <div class="container container-scrollableX p-0 mb-2">
      <table class="table table-bordered table-striped text-center" >
        <thead class = "table-primary">
          <tr class="text-center">
              <th scope="col" class="col-1">ID</th>
              <th scope="col" class="col-auto">Transaction Name</th>
              <th scope="col" class="col-auto">Amount</th>
              <th scope="col" class="col-2"></th>
          </tr>
        </thead>
        {% for task in tasks %}
          <tr class="text-center">
            <td>{{ task.name}}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
    {% include 'partials/pagination.html'  with page_obj=tasks %}
  </div>
</div>