<script>
  function submitFilterCategoryForm() {
    let form = document.getElementById("filterRequestForm")
    let category = document.getElementById("selectCategory")
    let categoryInput = document.getElementById("submitFilterCategory")

    categoryInput.value = category.value
    form.submit()
  }
</script>

<div class="gfcFlexContentStart gfcFlexRow gfcSmallGap col-12 background-secondary">
  <div class="col-12 col-md-2">
    <a href='{% url 'create_tasks' %}' class="btn btn-info">New Task</a>
  </div>
  
  <div class="col-12 col-md-2 gfcFlexLast">
    <div class="card h-100 border-0">
      <form class="p-2"action="{% url 'filter_task_request'%}" method="post" id="filterRequestForm">
        {% csrf_token %}

        <input type="hidden" id="submitFilterCategory" name="category">

        <select id="selectCategory">
          {% if filter_type == "ALL" %}
            <option value="ALL" selected>All Categories</option>
          {% else %}
            <option value="ALL">All Categories</option>
          {% endif %}

          {% for category in categories %}
            {% if filter_type == category.name %}
              <option value="{{category.name}}" selected>{{category.name}}</option>
            {% else %}
              <option value="{{category.name}}">{{category.name}}</option>
            {% endif %}
          {% endfor %}
        </select>
        </br>
        </br>

        <div onclick="submitFilterCategoryForm()" class="btn btn-primary">Filter Category</div>
      </form>
    </div>
  </div>
</div>

</br>

<h6>Selected Category Filter: {{filter_type}}</h6>
<div class="row">
  <div class="col-12">
    <div class="container container-scrollableX p-0 mb-2">
      <table class="table table-bordered table-striped text-center" >
        <thead class = "table-primary">
          <tr class="text-center">
              <th scope="col" class="col-1">Name</th>
              <th scope="col" class="col-auto">Description</th>
              <th scope="col" class="col-auto">Category</th>
              <th scope="col" class="col-auto">Completed?</th>
              <th scope="col" class="col-auto">View More</th>
        </thead>
        {% for task in tasks %}
          <tr class="text-center">
            <td>{{task.name}}</td>
            <td>{{task.description}}</td>
            <td>{{task.category.name}}</td>
            <td>{% include 'partials/boolean.html' with bool=task.completed size_tag="h5" %}</td>
            <td> <a href="{% url 'view_individual_task' pk=task.id%}" class="btn btn-sm btn-outline-primary justify-content-center">View Info</a</td>
          </tr>
        {% endfor %}
      </table>
    </div>
    {% include 'partials/pagination.html'  with page_obj=tasks %}
  </div>
</div>