<div class="row">
  <div class="col-12">
    <div>
        <form action="{% url 'filter_task_request'%}" method="post">
        {% csrf_token %}
        <div class="text-center">
          {% for category in categories %}
          <tr class="text-center">
            <input type = "submit" name = category value = "{{category.name}}" class= "btn btn-primary my-1">
          </tr>
        {% endfor %}
        <input type = "submit" name = category value = "ALL" class= "btn btn-primary my-1">
        </div>
      </form>
    </div>
    <br>
    <div class="container container-scrollableX p-0 mb-2">
      <table class="table table-bordered table-striped text-center" >
        <thead class = "table-primary">
          <tr class="text-center">
              <th scope="col" class="col-1">Name</th>
              <th scope="col" class="col-auto">Description</th>
              <th scope="col" class="col-auto">Category</th>
              <th scope="col" class="col-auto">Completed?</th>
              <th scope="col" class="col-auto">View More</th>
        </thead>
        {% for task in tasks %}
          <tr class="text-center">
            <td>{{task.name}}</td>
            <td>{{task.description}}</td>
            <td>{{task.category.name}}</td>
            <td>{{task.completed}}</td>
            <td> <a href="{% url 'view_individual_task' pk=task.id%}" class="btn btn-sm btn-outline-primary justify-content-center">View Info</a</td>
          </tr>
        {% endfor %}
      </table>
    </div>
    {% include 'partials/pagination.html'  with page_obj=tasks %}
  </div>
</div>