{% extends "page.html" %}
{% load static %}

<!-- Title -->
{% block title %}Work Period{% endblock %}

<!-- Content -->
{% block content %}
<div class="col-12">
    <div class="card h-100">
        <div class="card-header bg-primary">
            <div class="gfcFlexRow">
                <h4 class="card-title text-white"> Work Period for {{ work_period.task.name }}<br><br></h5>
            </div>
        </div>
        
        <div class="card-body gfcFlexColumn gfcSmallGap">
            <h6 class="card-subtitle text-muted col-12"> Date: {{ work_period.date }}</h6>
            <div class="gfcFlexRow gfcSmallGap">
                <h6 class="text-muted"> Start Time:</h6>
                <h4 class="text-white bg-primary p-2 rounded">{{ work_period.start_time }}</h4>
            </div>
            <div class="gfcFlexRow gfcSmallGap">
                <h6 class="text-muted"> End Time:</h6>
                <h4 class="text-white bg-primary p-2 rounded">{{ work_period.end_time }}</h4>
            </div>
            <h6 class="card-subtitle text-muted col-12"> Points: {{ work_period.points }}</h6>

            <div class="row mt-2">
                <div class="text-center">
                    {% if not work_period.task.completed%}
                        <a class="btn btn-outline-info mx-1 my-1" href="{% url 'edit_work_periods' pk=work_period.id%}">Edit</a>
                    {% endif %}
                    <a class="btn btn-outline-info mx-1 my-1" href="{% url 'delete_work_period' pk=work_period.id%}">Delete</a>
                </div>
            </div>    
        </div>
    </div>
</div>
{% endblock %}
