<script>
  function submitFilterTaskForm() {
    let form = document.getElementById("filterRequestForm")

    let task = document.getElementById("selectTask")
    let taskInput = document.getElementById("submitFilterTask")

    taskInput.value = task.value
    form.submit()
  }
</script>

<div class="gfcFlexContentStart gfcFlexRow gfcSmallGap col-12 background-secondary">
  <div class="col-12 col-md-2">
    <a href='{% url 'create_work_period' %}' class="btn btn-info">New Work Period</a>
  </div>
  
    <form class="gfcFlexRow gfcSmallGap p-2 gfcFlexLast" action="{% url 'filter_task_type_request'%}" method="post" id="filterRequestForm">
      {% csrf_token %}

      <input type="hidden" id="submitFilterTask" name="task">

      <select id="selectTask">
        {% if task_type == "ALL" %}
          <option value="ALL" selected>All Tasks</option>
        {% else %}
          <option value="ALL">All Tasks</option>
        {% endif %}

        {% for task in tasks %}
          {% if task_type == task %}
            <option value="{{task.name}}" selected>{{task.name}}</option>
          {% else %}
            <option value="{{task.name}}">{{task.name}}</option>
          {% endif %}
        {% endfor %}
      </select>

      <div>
        <label for="start">Start date:</label>
        <input type="date" id="start" name="start_date" value="2016-01-01" min="2016-01-01" max="2140-12-31" />
      </div>
      <div>
        <label for="end">End date:</label>
        <input type="date" id="end" name="end_date" value="2140-07-22" min="2016-01-01" max="2140-12-31" />
      </div>

      <div onclick="submitFilterTaskForm()" class="btn btn-primary">Filter</div>
    </form>
</div>

</br>

<div class="gfcFlexRow">
  <h6 class="gfcFlexLast">Selected Task Filter: {{task_type}}</h6>
</div>
<div class="row">
  <div class="col-12">
    <div class="container container-scrollableX p-0 mb-2">
      <table class="table table-bordered table-striped text-center" >
        <thead class = "table-primary">
          <tr class="text-center">
              <th scope="col" class="col-1">Date</th>
              <th scope="col" class="col-auto">Points</th>
              <th scope="col" class="col-auto">Task</th>
              <th scope="col" class="col-auto">View</th>
        </thead>
        {% for work_period in work_periods %}
          <tr class="text-center">
            <td>{{work_period.date}}</td>
            <td>{{work_period.points}}</td>
            <td>{{work_period.task.name}}</td>
            <td><a class="btn btn-outline-info mx-1 my-1" href="{% url 'view_individual_work_period' pk=work_period.id %}">View More</a></td>
          </tr>
        {% endfor %}
      </table>
    </div>
    {% include 'partials/pagination.html'  with page_obj=tasks %}
  </div>
</div>