body {
    --primary: #0d6efd;
    --primary2: #00b4d8;
    --secondary: white;
    --tertiary: black;

    --transition: all 0.3s ease;
    --borderradsize: 0.2rem;
}

.gfcBGPrimary {
    background-color: var(--primary);
}

.gfcBGPrimary2 {
    background-color: var(--primary2);
}

.gfcFlexRow {
    display: flex;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.gfcFlexColumn {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.gfcFlexContentCenter {
    justify-content: center;
}

.gfcFlexContentStart {
    justify-content: flex-start;
}

.gfcSmallGap {
    gap: 1rem;
}
.gfcMediumGap {
    gap: 3rem;
}
.gfcLargeGap {
    gap: 5rem;
}

/* button */
.gfcButton {
    border-radius: var(--borderradsize);
    transition: var(--transition);
    text-decoration: bold;
    color: var(--primary);
    background-color: var(--secondary);
    font-size: 0.2rem;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    padding: 0.5rem;
    text-decoration: none;
}
.gfcButton:hover {
    color: var(--secondary);
    background-color: var(--primary2);
    box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
}
