body {
    --primary: #0d6efd;
    --secondary: #FF842B;
    --prime1: white;
    --prime2: black;

    --transition: all 0.3s ease;
    --borderradsize: 0.2rem;
}

.gfcBGPrimary {
    background-color: var(--primary);
}

.gfcBGPrimary2 {
    background-color: var(--primary2);
}

.gfcFlexRow {
    display: flex;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.gfcFlexColumn {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.gfcFlexLast {
    margin-left:auto;
}

.gfcFlexContentCenter {
    justify-content: center;
}

.gfcFlexContentStart {
    justify-content: flex-start;
}

.gfcSmallGap {
    gap: 1rem;
}
.gfcMediumGap {
    gap: 3rem;
}
.gfcLargeGap {
    gap: 5rem;
}

/* button */
.gfcButton {
    border-radius: var(--borderradsize);
    transition: var(--transition);
    text-decoration: bold;
    color: var(--primary);
    background-color: var(--prime1);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    padding: 0.5rem;
    text-decoration: none;
    min-width: 7rem;
}
.gfcButton:hover {
    color: var(--prime1);
    border-color: var(--primary2);
    background-color: var(--secondary);
}
