body {
    --primary: #0d6efd;
    --secondary: #FF842B;
    --prime1: white;
    --prime2: black;

    --transition: all 0.3s ease;
    --borderradsize: 0.2rem;
}

.gfcFlexRow {
    display: flex;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.gfcFlexColumn {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.gfcFlexLast {
    margin-left:auto;
}

.gfcFlexContentCenter {
    justify-content: center;
}

.gfcFlexContentStart {
    justify-content: flex-start;
}

.gfcSmallGap {
    gap: 1rem;
}
.gfcMediumGap {
    gap: 3rem;
}
.gfcLargeGap {
    gap: 5rem;
}

/* button */
.gfcButton {
    border-radius: var(--borderradsize);
    transition: var(--transition);
    text-decoration: bold;
    color: var(--primary);
    background-color: var(--prime1);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    padding: 0.5rem;
    text-decoration: none;
    min-width: 7rem;
}
.gfcButton:hover {
    color: var(--prime1);
    border-color: var(--primary2);
    background-color: var(--secondary);
}

.gfcCard {
    width: 20vw;
    height: 20vh;
    text-decoration: none;
    background-color: var(--prime1);
    color: var(--primary);
    transition: var(--transition);
    border-radius: 0.5rem;
    border-style: ridge;
    border-width: 0.5rem;
    border-color: var(--primary);
}
.gfcCard:hover {
    border-color: var(--secondary);
    color: var(--prime1);
    background-color: var(--primary);
}

.gfcClickable {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.gfcClickable:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.gfcGraph {
    border-color: var(--primary);
    border-width: 0.5rem;
    border-style: ridge;
    padding: 1rem;
    border-radius: 0.5rem;
}