<a class="gfcButton" href="{% url 'dashboard' %}">
  <h5 class="gfcInset">Dashboard</h5>
</a>

<a class="gfcButton" href="https://www.etsy.com/uk/shop/GreggorFanClub">
  <h5 class="gfcInset">Merch</h5>
</a>

<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="user-account-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      {% include 'partials/greggor_logo.html' with height=50 %}
    </a>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="user-account-dropdown">
      <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="{% url 'log_out' %}">Log out</a></li>
    </ul>
  </li>
</ul>