{% load static %}
  
<div class="gfcFlexRow gfcFlexContentStart gfcMediumGap bg-primary p-3">
    <a class="gfcFlexContentStart" href="{% url 'log_in' %}">
        {% include 'partials/greggor_logo.html' with height=50 %}
        <h3 class="gfcLink text-white">GFC</h3>
    </a>
    {% if user.is_authenticated %}
      {% include 'partials/navbar/logged_in_menu.html' %}
    {% else %}
      {% include 'partials/navbar/menu.html' %}
    {% endif %}

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
</div>
