{% load static %}
{% load get_logo %}

<div class="gfcFlexRow gfcMediumGap">
    <img class="rounded border border-primary border-3 col-12 col-md-6" src="{% static level|get_level_path %}" alt="Level Map" height="{{1424}}" width="{{width}}" style="{{style}}"/>
    <p class="border border-3 border-primary bg-white rounded text-primary col-12 col-md-5 p-5" style="height:1424px">
        Once upon a time there was a little penguin called Greggor. Help Greggor on his journey through the experiences of university so that he can graduate. 
        <br><br> 
        {% for story in level|get_level_story %}
            {{story}}
            <br><br>
        {% endfor %}
    </p>
</div>