{% extends "page.html" %}
{% load static %}

<!-- Title -->
{% block title %}Task Form{% endblock %}

<!-- Content -->
{% block content %}
   
    
    <h1>Task Form</h1>

     {% if edit %}
      <form action='{% url 'edit_tasks' pk %}' method="post" enctype='multipart/form-data'>
    {% else %} 
    <form action='{% url 'create_tasks'%}' method="post" enctype='multipart/form-data'>
     {% endif %} 
      {% csrf_token %}

      {% include 'partials/form.html' with form=form %}
      <button type="submit" name="submit_type" value="Submit Task" class="btn btn-primary">
    {% if edit %}
        Edit Task
        {% else %}
            Create Task
        {% endif %} 
{% endblock %}
