{% extends "page.html" %}
{% load static %}

<!-- Title -->
{% block title %}Profile{% endblock %}

<head>
  <script src="{% static 'javascript/load_colours.js' %}"></script>
</head>

<!-- Content -->
{% block content %}
<div class="container">
  <div class="row text-center mb-2">
    <h1>Profile</h1>
  </div>
  <div class="row gx-5 gy-2">
    <div class="col-lg-4 p-0">
      <div class="container text-center limit">
          <div alt="Edit User Picture" class="pb-2 pe-2">
            {% include 'partials/greggor_logo.html' with height=50 greggor_type=user.profile_icon %}
          </div>
       
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="card text-bg-primary">
          <div class="card-body">
            <div class="row mb-2 text-center">
              <div class="col-lg-auto col-md-12"><h3 class="card-title">{{user.username}}</h3></div>
            </div>
            <div class="row">
              <div class="col-auto">
                <p class="card-text"><b>Username:</b></p>
                <p class="card-text"><b>Email:</b></p>
                <p class="card-text"><b>Points:</b></p>
              </div>
              <div class="col">
                <p class="card-text">{{user.username}} {{user.last_name}}</p>
                <p class="card-text">{{user.email}}</p>
                <p class="card-text">{{user.get_user_points}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="text-center">
          <a class="btn btn-outline-info mx-1 my-1" href="{% url 'change_password' %}">Change Password</a>
          <a class="btn btn-outline-primary mx-1 my-1" href="{% url 'edit_user_details' %}">Edit Profile</a>
          <a class="btn btn-outline-danger mx-1 my-1" onclick="return confirm('Are you sure you want to delete your profile?')" href="{% url 'delete_profile' %}">Delete Profile</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="gfcFlexColumn gfcMediumGap">
  <h6>Current Level: {{user.get_level}}</h6>

  <div>
    {% include 'partials/levels/icon_select.html' %}
  </div>

  <div>
    <h6>Levels Path</h6>
    {% include 'partials/levels/level_layout.html' with level=user.get_level %}
  </div>
</div>
{% endblock %}

