{% extends "page.html" %}

<!-- Title -->
{% block title %}Summary{% endblock %}

<!-- Content -->
{% block content %}
  <div class="container p-0">
    <h1 align="center">Recent Tasks</h1>


    <div class="d-flex flex-row" align="center">
    {% for task in tasks %}
      <div class="col-sm-4 py-4">
        <div class="card" style="width: 18rem;">
          <div class="card-header">
            {{task.name}}
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Description</b> <br> {{task.description}}</li>
            <li class="list-group-item"><b>Expected Work Time</b> <br> {{task.expected_work_time}}</li>
            <li class="list-group-item"><b>Actual Work Time</b> <br> {{task.actual_work_time}}</li>
            <li class="list-group-item"><b>Category</b> <br> {{task.category.name}}</li>
            <li class="list-group-item"><b>Completed</b> <br> {% include 'partials/boolean.html' with bool=task.completed size_tag="h4" %}</li>
          </ul>
        </div>
      </div>
      <br>
    {% endfor %}
    </div>  

    <hr class="hr" />
    <h1 align="center">Statistics</h1><br>
    <div class="container" align="center">

      <div class="row">
        <div class="col-sm">
          <div class="card" style="width: 18rem; height: 13rem;">
            <div class="card-body">
              <h4 class="card-title mb-5" style="height: 5rem;">Day with the most amount of hours worked in the last 30 days</h4>
              <h4 class="card-subtitle mb-4 text-muted">{{ highest_day_hours }}</h4>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card" style="width: 18rem; height: 13rem;">
            <div class="card-body">
              <h4 class="card-title mb-5" style="height: 5rem;">Day with the least amount of hours worked in the last 30 days</h4>
              <h4 class="card-subtitle mb-4 text-muted">{{ lowest_day_hours }}</h4>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card" style="width: 18rem; height: 13rem;">
            <div class="card-body">
              <h4 class="card-title mb-5" style="height: 5rem;">Day with the most amount of points in the last 30 days</h4>
              <h4 class="card-subtitle mb-4 text-muted">{{ highest_day_points }}</h4>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card" style="width: 18rem; height: 13rem;">
            <div class="card-body">
              <h4 class="card-title mb-5" style="height: 5rem;">Day with the least amount of points in the last 30 days</h4>
              <h4 class="card-subtitle mb-4 text-muted">{{ lowest_day_points }}</h4>
            </div>
          </div>
        </div>
      </div>
    
    <br>
    <div class="container" align="center">
      <div class="row">
        <div class="col-sm">
          <div class="card" style="width: 18rem; height: 13rem;">
            <div class="card-body">
              <h4 class="card-title mb-4" style="height: 5rem;">Total hours spent on tasks in the last 30 days</h4>
              <h4 class="card-subtitle mb-4 text-muted">{{ hours_spent_month }} hours</h4>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card" style="width: 18rem; height: 13rem;">
            <div class="card-body">
              <h4 class="card-title mb-4" style="height: 5rem;">Total hours spent on tasks in the last 7 days</h4>
              <h4 class="card-subtitle mb-4 text-muted">{{ hours_spent_week }} hours</h4>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card" style="width: 18rem; height: 13rem;">
            <div class="card-body">
              <h4 class="card-title mb-4" style="height: 5rem;">Total hours spent on tasks in the last day</h4>
              <h4 class="card-subtitle mb-4 text-muted">{{ hours_spent_day }} hours</h4>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>

      <br>

    {% include 'partials/graphs/categoryHoursSpentBarChart.html' with data=user_workflow_data %}
  </div>
{% endblock %}